@font-face {
    font-family:DancingScript-Bold;
    src: url(../fuentes/DancingScript-Bold.ttf);
}
@font-face {
  font-family: DancingScript-Regular;
  src:url(../fuentes/DancingScript-Regular.ttf);
}
@font-face {
  font-family: 'ShadowsIntoLight';
  src: url(../fuentes/ShadowsIntoLight.ttf);
}
body{
  font-family: helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
header{
  background: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 95%;
  height: 120px;
  margin: 0 auto;
}
/*************Titulo***********/
h1{
  width: 100%;
  margin: 0;
}
h1 a{
  margin: 15px;
  text-decoration: none;
  font-family: 'ShadowsIntoLight';
  color:white;
  text-shadow: 2px 2px #02010a;
}
/*************menu************/
nav{
  width: 300px;;
  margin: 15px 10px 0px 0px;
  background-color: white;
  float: right;
  border-radius: 5px;
}
nav ul{
  margin: 0px;
  list-style-type: none;
  padding: 0px;
  display: flex;
}
nav ul li{
  display:block;
  margin: 10px;
}
nav li a{
  padding: 14px;
  text-decoration: none;
  color: #5b7989;
}
nav li a:hover{
  background-color: #5b7989;
  color: white;
  border-radius: 10px;
}
@media (min-width:721px) and (max-width:960px) {
  h1 a{
    font-size: 0.8em;
  }
  nav{
    margin: 26px 12px 0px 0px;
  }
  nav ul li{
    margin: 9px 9px 9px 11px;
  }
  nav li a{
    font-size: 0.9em;
    padding: 16px;
  }
}
@media (min-width:421px) and (max-width:720px) {
  h1 a{
    font-size: 0.7em;
  }
  nav{
    margin: 28px 12px 0px 0px;
  }
  nav ul li{
    margin: 9px 9px 9px 11px;
  }
  nav li a{
    font-size: 0.8em;
    padding: 16px;
  }
}
@media (max-width:420px) {
  header{
    width: 100%;
  }
  h1 a{
    font-size: 5vw;
  }
  nav{
    float: none;
    width:65%;
    margin: 30px auto;
  }
  nav ul li{
    margin: 9px 9px 9px 11px;
  }
  nav li a{
    font-size: 3vw;
    padding: 3vw;
  }
  }
}
