@font-face {
    font-family:DancingScript-Bold;
    src: url(../fuentes/DancingScript-Bold.ttf);
}
@font-face {
  font-family: DancingScript-Regular;
  src:url(../fuentes/DancingScript-Regular.ttf);
}
@font-face {
  font-family: 'ShadowsIntoLight';
  src: url(../fuentes/ShadowsIntoLight.ttf);
}
body{
  font-family: 'DancingScript-Bold', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  background: #02010a;
}
#contenedor{
  width: 900px;
  margin: 0 auto;
}
/***********header*************/
header{
  background: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 120px;
}
/*************Titulo***********/
header h1{
  width: 100%;
  margin: 0;
}
header h1 a{
  margin: 15px;
  text-decoration: none;
  font-family: 'ShadowsIntoLight';
  color:white;
  text-shadow: 2px 2px #02010a;
}
/*************menu************/
nav{
  width: 300px;;
  margin: 15px 10px 0px 0px;
  float: right;
  border-radius: 5px;
}
nav ul{
  margin: 0px;
  list-style-type: none;
  padding: 0px;
  display: flex;
}
nav ul li{
  display:block;
  margin: 10px 10px 10px 18px;
}
nav li a{
  padding: 14px;
  text-decoration: none;
  color: #fff;
}

nav li a:hover{
  background-color: #fff;
  color: #5b7989;
  border-radius: 10px;
}
/***************index***********/
/*************section************/
section{
  margin: 0px;
}
/*********imagen central*********/
section #imagen_central{
  background-color: #82c3a6;
}
#imagen_central img{
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}
/******imagenes secundarias*****/
section #imagen_secundaria{
  height: 350px;
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#imagen_secundaria a{
  margin: 45px auto;
  padding: 0px;
}
#imagen_secundaria a img{
  width: 400px;
  height: 250px;
  border: 1px solid black;
}
/********rotacion**********/
#imagen_secundaria a img[src$="imagen3.jpg"]{
  transition: 1s;
}
#imagen_secundaria a img[src$="imagen3.jpg"]:hover{
  transform: rotate(10deg);
}
/*********traslacion*********/
#imagen_secundaria a img[src$="imagen2.jpg"]{
  transition: 2s;
}
#imagen_secundaria a img[src$="imagen2.jpg"]:hover{
  transform: translate(5px,-20px);
  box-shadow: 2px 2px 4px #82c3a6;
  -moz-box-shadow: 2px 2px 4px #82c3a6;
  -webkit-box-shadow: 2px 2px 4px #82c3a6;
  border: 2px solid black;
}
/**********paisajes**********/
#imagenes_paisajes{
  width: 100%;
  background-color: #d5c75f;
  display: flex;
  flex-flow: wrap row;
}
#imagenes_paisajes aside{
  margin: 0 auto;
  padding: 5px;
}
#imagenes_paisajes aside img{
  margin: 10px;
  width: 250px;
  height: 140px;
}
#imagenes_paisajes aside img[src$="img1.jpg"]{
  -webkit-filter:blur(10px);
  -moz-filter:blur(10px);
  filter: blur(10px);
}
#imagenes_paisajes aside > .pares{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter:grayscale(100%);
}
#imagenes_paisajes aside img[src$="img3.jpg"]{
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
  filter: sepia(90%);
}
/*******Retratos*******/
#imagenes_retratos{
  width: 100%;
  background-color: #d5c75f;
  display: flex;
  flex-flow: wrap row;
}
#imagenes_retratos aside{
  margin: 0 auto;
  padding: 4px;
}
#imagenes_retratos aside img{
  margin: 10px;
  width: 250px;
  height: 140px;
}
#imagenes_retratos aside img[src$="imagen3.jpg"]{
  -webkit-filter:blur(10px);
  -moz-filter:blur(10px);
  filter: blur(10px);
}
#imagenes_retratos aside > .pares{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter:grayscale(100%);
}
#imagenes_retratos aside img[src$="imagen2.jpg"]{
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
  filter: sepia(90%);
}
/*******footer********/
footer{
  width: 100%;
  float: left;
  clear: both;
  background-color: #C6d5c5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
footer .pie{
  margin: 3px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;

}
footer .pie aside{
  margin: 3px auto;
  padding: 5px;
  width: 180px;
}
footer section aside >h2, h3, p{
  margin: 0px;
  color: black;
}
footer section aside > p{
  font-size: 0.95em;
}
.bloque3 p > a{
  text-decoration: none;
  color: black;
}
/***********adaptacion********/
@media (min-width:721px) and (max-width:900px) {
  #contenedor{
    width: 100%;
  }
  header h1 a{
    font-size: 0.95em;
  }
  nav{
    margin: 17px 12px 0px 0px;
  }
  nav ul li{
    margin: 10px 10px 10px 17px;
  }
  nav li a{
    padding: 15px;
  }
  section #imagen_secundaria{
    height: auto;
  }
}
@media (min-width:421px) and (max-width:720px) {
  #contenedor{
    width: 100%;
  }
  header h1 a{
    font-size: 0.85em;
  }
  nav{
    margin: 25px 12px 0px 0px;
  }
  nav ul li{
    margin: 9px 9px 9px 20px;
  }
  nav li a{
    font-size: 0.9em;
    padding: 16px;
  }
}
@media (max-width:420px) {
  #contenedor{
    width: 100%;
  }
  header h1 a{
    font-size: 5vw;
  }
  nav{
    float: none;
    width:65%;
    margin: 30px auto;
  }
  nav ul li{
    margin: 5px 9px 10px 17px;
  }
  nav li a{
    font-size: 3vw;
    padding: 2vh;
  }
  #imagen_central img{
    width: 100%;
    margin: 0;
    padding: 0px;
  }
  #imagen_secundaria a{
    margin: 0;
    padding: 0;
  }
  #imagen_secundaria a img{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /*********paisajes*********/
  #imagenes_paisajes aside img{
    margin: 1px;
    width: 100%;
    height: auto;
  }
  #imagenes_retratos aside img{
    margin: 1px;
    width: 100%;
    height: auto;
  }
}
